@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    font-family: Roboto, sans-serif;
    background: #fbfbfb;
    color: #333;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

